<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Simulador de Enfriamiento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    
    <h1>Simulador de Temperatura para Servidores</h1>
    <p>Introduce los datos requeridos para iniciar.</p>

    <form method="POST">
        <div class="input-group">
            <label>Temperatura de el servidor ahora (°C):</label><br>
            <input type="number" name="T0" placeholder="00" step="0.1" required>
        </div>
        
        <div class="input-group">
            <label>Temperatura de el cuarto/ambiente (°C):</label><br>
            <input type="number" name="Ta" placeholder="00" step="0.1" required>
        </div>

        <div class="input-group">
            <label>Rapidez de enfriamiento (k):</label><br>
            <input type="number" name="k" placeholder="00" step="0.001" required>
        </div>

        <div class="input-group">
            <label>Constante de tiempo:</label><br>
            <input type="number" name="dt" placeholder="00" step="0.01" required>
        </div>

        <br>
        <button type="submit">Calcular Enfriamiento</button>
    </form>

    {% if error %}<p class="error">{{ error }}</p>{% endif %}

    {% if kpis %}
    <div class="dashboard">
        <div class="card">
            <h3>{{ kpis.t_estabilizacion }} min</h3>
            <p>Tiempo estimado para enfriarse</p>
        </div>
        <div class="card">
            <h3>{{ kpis.error_max }} °C</h3>
            <p>Diferencia máxima de precisión</p>
        </div>
        <div class="card">
            <h3>{{ kpis.error_avg }} °C</h3>
            <p>Promedio de error en el cálculo</p>
        </div>
    </div>
    {% endif %}


    <div class="charts">
        {% if grafica_html %}
            <div class="chart-container">
                {{ grafica_html|safe }}
            </div>
        {% endif %}
        
        {% if grafica_error_html %}
            <div class="chart-container">
                {{ grafica_error_html|safe }}
            </div>
        {% endif %}
    </div>

    {% if tabla %}
    
    <h3>Tabla Completa de Datos</h3>
    <table>
        <thead>
            <tr>
                <th>Tiempo (min)</th>
                <th>Temperatura Real</th>
                <th>Cálculo Aproximado</th>
                <th>Diferencia</th>
            </tr>
        </thead>
        <tbody>
            {% for t,a,e,err in tabla %}
            <tr>
                <td>{{ t|round(2) }}</td>
                <td>{{ a|round(2) }} °C</td>
                <td>{{ e|round(2) }} °C</td>
                <td>{{ err|round(4) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% endif %}

     {% if interpretacion %}
        <div class="analysis-container">

            <div class="analysis-card">
                <h3>Interpretación del Modelo</h3>
                <p>{{ interpretacion }}</p>
            </div>

            <div class="analysis-card">
                <h3>Recomendaciones</h3>
                <ul>
                    {% for rec in recomendaciones %}
                        <li>{{ rec }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <br>
        <a href="/pdf"><button style="background: #3b82f6;">Descargar Resultados en PDF</button></a>
        <br><br>
        
    {% endif %}


</body>
</html>